<%= form_for FakeModel.new, :url => root_url do |f| %>

  <dl>
    <dt>
      <%= f.label :current_existing_rule, "defaults but not set" %>
    </dt>
    <dd>
      <%= f.select_recurring :current_existing_rule %>
    </dd>
  </dl>
  <p>
    <%= f.submit %>
  </p>
<% end %>
